<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>origin.sidfate. BQBSearcher</string>
	<key>connections</key>
	<dict>
		<key>1C2171A1-324B-483B-9B55-818D8A61DAA2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>532CD1F8-E6E7-491E-BEE6-4EAC46A1469A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>272A9B35-0E9F-4AEF-81ED-27395458517F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C2171A1-324B-483B-9B55-818D8A61DAA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51317CF5-8C9E-4843-B34E-CA5DC0CD956D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>272A9B35-0E9F-4AEF-81ED-27395458517F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>532CD1F8-E6E7-491E-BEE6-4EAC46A1469A</key>
		<array/>
		<key>841A950E-60DF-4922-BEE7-4D9C64314EB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51317CF5-8C9E-4843-B34E-CA5DC0CD956D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sidfate</string>
	<key>description</key>
	<string>Use "bqb" to search bqb from ChineseBQB</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>BQBSearcher</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cp $1 ~/Pictures/dt-placeholder.jpg</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51317CF5-8C9E-4843-B34E-CA5DC0CD956D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>chmod 777 FileToClipboard 
./FileToClipboard ~/Pictures/dt-placeholder.jpg
[ $? -eq "0" ] &amp;&amp; echo "🌈 Copied" || echo "❎ Failed"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>272A9B35-0E9F-4AEF-81ED-27395458517F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>bqb</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>正在搜索...</string>
				<key>script</key>
				<string>&lt;?php

$query = $argv[1];
require_once("bqbsearcher.php");

?&gt;</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>输入关键词搜索表情包</string>
				<key>title</key>
				<string>BQBSearcher</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>841A950E-60DF-4922-BEE7-4D9C64314EB6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>可以使用了</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1C2171A1-324B-483B-9B55-818D8A61DAA2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>rm -rf tmp</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>532CD1F8-E6E7-491E-BEE6-4EAC46A1469A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Using the keyword "f", search for only folders within your home folder.

Hit Return to open the file, or Alt + Return to reveal it in Finder.</string>
	<key>uidata</key>
	<dict>
		<key>1C2171A1-324B-483B-9B55-818D8A61DAA2</key>
		<dict>
			<key>xpos</key>
			<integer>730</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>272A9B35-0E9F-4AEF-81ED-27395458517F</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>51317CF5-8C9E-4843-B34E-CA5DC0CD956D</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>532CD1F8-E6E7-491E-BEE6-4EAC46A1469A</key>
		<dict>
			<key>xpos</key>
			<integer>900</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>841A950E-60DF-4922-BEE7-4D9C64314EB6</key>
		<dict>
			<key>xpos</key>
			<integer>185</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
